body {
    background-color: #16151A;
    color: white;
}

nav {
    background-color: white;
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    color: #3BC8E7;
}

h1 {
    font-size: 96px;
}

span {
    color: #3BC8E7;
}

button {
    border: 3px solid #3BC8E7;
    box-sizing: border-box;
    width: 236px;
    height: 40px;
}

header {
    display: flex;
    align-items: center;
    background-image: url(./img/image3.jpg);
    height: 70vh;
}

header div {

    width: 40vw;

}

#genres {}

#genreList {
    display: flex;

}

#genreList div {
    margin: 23px auto;
}

#top10 {
    display: flex;
}

#chartListArtists {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

#chartListAlbums {
    display: flex;
    flex-direction: column;
    margin: 15px;
}


/* ça marche pas (encore) */
#chartListAlbums div::after,
#chartListArtists div::after {
    content: '';
    flex: 1 1 auto;
    /* le premier chiffre est 'flex-grow: 1', aide l'element à occuper tout l'espace libre */
    border-bottom: solid 1px #c4c4c4;
}




footer {
    display: flex;
}

footer div {
    width: 33%;
}



/* CSS Tommy */


.menuburger {

    position: absolute;
    width: 65px;
    height: 64px;
    left: 0px;
    top: 0px;
    background: #3BC8E7;
}

.musicband {

    position: absolute;
    width: 205px;
    height: 30px;
    left: 88px;
    top: 19px;



}

.searchbar {

    position: absolute;
    width: 358px;
    height: 38px;
    left: 863px;
    top: 13px;
    background: #F0F5F9;



}

.avatar {

    width: 31px;
    height: 31px;
    background-image: url("https://placeimg.com/160/160/any");
    background-size: contain;
    border-radius: 50%;
    position: absolute;
    width: 31px;
    height: 31px;
    left: calc(50% - 31px/2 + 576.5px);
    top: 17px;
}

.user {

    position: absolute;
    width: 37px;
    height: 17px;
    left: calc(50% - 37px/2 + 628.5px);
    top: 24px;

}