*{
   box-sizing: border-box;
   border: 1px solid lightseagreen; 
}


body{
    background-color: #16151A;
    color: white;
}
nav{
    background-color: white;
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    color: #3BC8E7;
}
h1{
    font-size: 96px;
}
h2{
    text-transform: uppercase;

}
span{
    color: #3BC8E7;  
}
button{
    border: 3px solid #3BC8E7;
    box-sizing: border-box;
    width: 236px;
    height: 40px;
}
header{
    display: flex;
    align-items: center;
    background-image: url(./img/image3.jpg);
    height: 70vh;
}
header div{

    width: 40vw;

}
/* #genres {
    
} */
#genreList{
    display: flex;
    width: 500px;

}
#genreList div{
    padding: 23px auto;
}

#top10{
    display: flex;
}
#chartListArtists{
display: flex;
flex-direction: column;
margin: 15px;
}
#chartListAlbums{
display: flex;
flex-direction: column;
margin: 15px;
}


/* ça marche pas (encore) */
#chartListAlbums div::after, #chartListArtists div::after{
    content: '';
    flex: 1 1 auto; /* the first digint is 'flex-grow: 1', helps elemet to occupy all free space */ 
    border-bottom: solid 1px #c4c4c4;
}

#artistMoment{
    display: flex;
    height: 70vh;
    width: 100%;
}



footer{
    display: flex;
}
footer div{
    width: 33%;
}




