
/* //////////////////////////////////




/* *{
   box-sizing: border-box;
   border: 1px solid lightseagreen; 
} */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400;800&display=swap');


body{
    font-family: 'Urbanist', sans-serif;
    
    background-color: #1a1515;
    color: white;
    max-width: 1440px;
    margin: 0;
}
nav{
    background-color: white;
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    color: #3BC8E7;
}
h1{
    font-size: 96px;
}
h2{
    text-transform: uppercase;

}
span{
    color: #3BC8E7;  
}
button{
    border: 3px solid #3BC8E7;
    box-sizing: border-box;
    width: 236px;
    height: 40px;
}
header{
    display: flex;
    align-items: center;
    background-image: url(./img/image3.jpg);
    height: 70vh;
}
header div{
    width: 40vw;
}
/* #genres {
    
} */

#genreList{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    overflow: hidden;


}

#genreList div img {
    width: 145px;
    margin: 10px;
}

#genreList div span {
    margin: 10px;
    color: white;
    font-weight: 400;

}

#top10{
    display: flex;
}

#chartListArtists{
display: flex;
flex-direction: column;
margin: 15px;
}
#chartListAlbums{
display: flex;
flex-direction: column;
margin: 15px;
}


/* ça marche pas (encore) */
#chartListAlbums div, #chartListArtists div{
border-bottom: rgb(143, 143, 143) solid 1px;
}

#artistMoment{
    display: flex;
    height: 70vh;
    width: 100%;
}



footer{
    display: flex;
}
footer div{
    width: 33%;
}

